<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form cellspacing="0">
            <table cell>
                <tr>
                    <td>
                        <mat-form-field>
                            <input name="email" 
                            matInput 
                            [(ngModel)]="email" 
                            placeholder="Email" 
                            required />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input name="password" 
                            matInput 
                            [(ngModel)]="password" 
                            placeholder="Password" 
                            required 
                            type="password"/>
                        </mat-form-field> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-error *ngIf="error">{{ error | async }}</mat-error>
                    </td>
                </tr>

            </table>
        </form>
        
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" 
         (click)="login()">Login</button>
         <span>
             If you dont have an account? <a [routerLink]="['/auth/register']"> register</a> here.
         </span>
    </mat-card-actions>
</mat-card>