<div>
  <mat-card-title mat-dialog-title>1 item/s added to cart</mat-card-title>
  <!-- <h1 mat-dialog-title>Hi {{ data.name }}</h1> -->
  <mat-grid-list cols="2" rowHeight="2:1" class="p-4">
    <mat-grid-tile>
      <img
        product-listing-image
        [src]="data.imgUrl"
        alt="Photo of a Shiba Inu"
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <span>{{ data.price }}</span>
    </mat-grid-tile>
  </mat-grid-list>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">
      Continue Shopping
    </button>
    <button mat-raised-button cdkFocusInitial>Go to Cart</button>
  </div>
</div>
