
header {
    a{
        margin:10px;
    }
    .active-link{
        background-color: blue;
    }
    .logo{
        background-image: url('../assets/logo.png');
        height: 50px;
        width: 50px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mat-icon{
        vertical-align: middle;
        margin: 0 5px;
    }
}