<mat-card>
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="userForm">
            <table cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field>
                            <input name="fullname" 
                            matInput 
                            formControlName="fullname" 
                            placeholder="FullName" 
                            required />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input name="email" 
                            matInput 
                            formControlName="email"
                            placeholder="Email" 
                            required 
                            type="email"/>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input name="password" 
                            matInput 
                            formControlName="password" 
                            placeholder="Password" 
                            required 
                            type="password"/>
                        </mat-form-field> 
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" 
        (click)="register()">Register</button>
    </mat-card-actions>
</mat-card>